<!--将头部作为单独的模块成为公共部分 让其他模板重复使用-->
<div class='navbar navbar-default' id='navbar'>
    <a class='navbar-brand' href='#'>
        <img src="/images/logo_zxb.png" alt="" class="logobeihang"> 湘北高中选修课报名管理系统-管理员面板
    </a>
    <ul class='nav navbar-nav pull-right'>
        <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                <i class='icon-envelope'></i>
                Messages
                <span class='badge'>5</span>
                <b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
                <li>
                    <a href='#'>New message</a>
                </li>
                <li>
                    <a href='#'>Inbox</a>
                </li>
                <li>
                    <a href='#'>Out box</a>
                </li>
                <li>
                    <a href='#'>Trash</a>
                </li>
            </ul>
        </li>
      
        <li class='dropdown user'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                <i class='iconfont'>&#xe656;</i>
                <strong>用户:Admin</strong>
                <!--<img class="img-rounded" src="http://placehold.it/20x20/ccc/777" />-->
                <b class='caret'></b>
            </a>
            <ul class='dropdown-menu top_logou' >
                
                <li>
                    <a href="javascript:void (0)" id="logout">退出登录</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

